<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ir_opcode_receivers" params="name:=ir_omni
                                                  namespace
                                                  robot_model_name
                                                  dock_model_name
                                                  emitter_link_name
                                                  parent:=base_link
                                                  sensor_0_fov
                                                  sensor_0_range
                                                  sensor_1_fov
                                                  sensor_1_range
                                                  samples:=50
                                                  min_range:=0.015
                                                  update_rate:=62
                                                  visualize:=false
                                                  *origin" >

    <xacro:property name="joint_name" value="${name}_joint" />
    <xacro:property name="receiver_link_name" value="${name}" />

    <joint name="${joint_name}" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}"/>
      <child link="${receiver_link_name}"/>
    </joint>

    <link name="${receiver_link_name}">
      <xacro:inertial_dummy />
    </link>

  </xacro:macro>
</robot>